.vegetables {
    background: #7a3145;
}

.vegetables-title {
    font-weight: 600;
font-size: 48px;
line-height: 1.083;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
margin-bottom: 20px;
}

.color-vegetables{
    color: #d4bfc4;
}

.vegetables-text {
font-size: 14px;
line-height: 1.42;
color: #fbfbfb;
margin-bottom: 40px;
}

.vegetables-head {
font-weight: 600;
font-size: 28px;
line-height: 1;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #7a3145;
margin-bottom: 12px;
}

.text-vegetables {
font-size: 14px;
line-height: 1.42;
margin-bottom: 12px;
}

.vegetables-div{
border-radius: 40px;
padding: 32px 31px 32px 24px;
max-width: 335px;
background: #fbfbfb;
}

.vegetables-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.rotat-all{
    position: relative;
    width: 80vw; /* 50% ширини вікна перегляду */
    max-width: 280px; /* Максимальний розмір */
    max-height: 240px;
    aspect-ratio: 1 / 2; 
    /* width: 280px;
    height: 240px; */
    perspective: 1000px;
}

.rotating-element{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: spin 8s linear infinite;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
}

.front {
    background: url("https://via.placeholder.com/200") no-repeat center/cover;
}

.back{
    background: #ff5733;
    transform: rotateY(180deg); 
    color: white;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@media only screen and ( max-width: 330px){
    .vegetables-title{
        font-size: 44px;
    }  

    .rotat-all{
    width: 90vw; /* Збільшуємо для маленьких екранів */
    max-width: 225px;
    max-height: 192.85px;
    }
}

@media only screen and ( min-width: 768px){
    .vegetables-title{
        font-size: 64px;
        line-height: 1;
        width: 628px;
        margin-bottom: 24px;
    }

    .vegetables-div{
        max-width: 340px;
        padding: 32px 30px;
    }

    .vegetables-text{
        font-size: 16px;
        line-height: 1.25;
        width: 628px;
        margin-bottom: 52px;
    }

    .vegetables-head{
        font-size: 32px;
    }

    .text-vegetables{
        font-size: 16px;
        line-height: 1.25;
    }

    .vegetables-list{
        gap: 28px 24px;
    }
}

@media only screen and ( min-width: 1280px){
    .vegetables-title{
        font-size: 64px;
        width: 508px;
    }

    .vegetables-div{
        max-width: 344px;
        padding: 32px 32px;
    }

    .text-vegetables{
        margin-bottom: 8px;
    }

    .vegetables-img{
        height: 244px;
    }

    .rotat-all{
        max-height: 244px;
    }
}
